make_scenario_blueprint.json
{
    "name": "Integration LINE, Dify",
    "flow": [
        {
            "id": 1,
            "module": "line:watchMessages",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2675283
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "LINE_New",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:line",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "dify:sendChatMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6002200
            },
            "mapper": {
                "query": "{{1.events[].message.text}}",
                "user": "{{1.events[].source.userId}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Dify_Final (献立コンシェルジェ②)",
                            "data": {
                                "scoped": "true",
                                "connection": "dify"
                            }
                        }
                    },
                    "expect": {
                        "inputs": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "inputs",
                        "type": "array",
                        "label": "Inputs",
                        "spec": [
                            {
                                "name": "Parameters",
                                "type": "select",
                                "nested": [
                                    {
                                        "help": "Enter the text for the selected parameter.",
                                        "name": "Text",
                                        "type": "text",
                                        "label": "Text Input",
                                        "required": true
                                    }
                                ],
                                "options": [
                                    {
                                        "label": "Prompt",
                                        "value": "propmt"
                                    },
                                    {
                                        "label": "Test1",
                                        "value": "test1"
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "user",
                        "type": "text",
                        "label": "User Identifier",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "line:sendAReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6002359
            },
            "mapper": {
                "replyToken": "{{1.events[].replyToken}}",
                "messages": [
                    {
                        "type": "text",
                        "text": "{{2.data.answer}}"
                    }
                ],
                "notificationDisabled": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My LINE (Message API) connection",
                            "data": {
                                "scoped": "true",
                                "connection": "line2"
                            }
                        }
                    },
                    "expect": {
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "emojis": {
                                        "mode": "chose"
                                    }
                                }
                            ]
                        },
                        "notificationDisabled": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:line2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "replyToken",
                        "type": "text",
                        "label": "Reply Token",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "validate": {
                            "maxItems": 5
                        },
                        "required": true,
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "help": "For LINE emoji, use a `$` character as a placeholder and specify details in the LINE Emojis parameter.",
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 5000
                                                }
                                            },
                                            {
                                                "help": "The number of emoji items must be equal to the number of `$` on Text parameter.",
                                                "name": "emojis",
                                                "spec": [
                                                    {
                                                        "help": "Product ID for a set of LINE emoji. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                        "name": "productId",
                                                        "type": "text",
                                                        "label": "Product ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "ID for a LINE emoji inside a set. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                        "name": "emojiId",
                                                        "type": "text",
                                                        "label": "Emoji ID",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "LINE Emojis",
                                                "validate": {
                                                    "maxItems": 20
                                                }
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Sticker",
                                        "value": "sticker",
                                        "nested": [
                                            {
                                                "help": "Package ID for a set of stickers. For information on package IDs, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                "name": "packageId",
                                                "type": "text",
                                                "label": "Package ID",
                                                "required": true
                                            },
                                            {
                                                "help": "Sticker ID. For a list of sticker IDs for stickers that can be sent with the Messaging API, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                "name": "stickerId",
                                                "type": "text",
                                                "label": "Sticker ID",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Image",
                                        "value": "image",
                                        "nested": [
                                            {
                                                "help": "Max file size is 10 MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "help": "Max file size is 1 MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "previewImageUrl",
                                                "type": "url",
                                                "label": "Preview Image URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Video",
                                        "value": "video",
                                        "nested": [
                                            {
                                                "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "previewImageUrl",
                                                "type": "url",
                                                "label": "Preview Image URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Audio",
                                        "value": "audio",
                                        "nested": [
                                            {
                                                "help": "Max file size is 200 MB.\nSupported image format - M4A",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "name": "duration",
                                                "type": "uinteger",
                                                "label": "Duration (in seconds)",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Location",
                                        "value": "location",
                                        "nested": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title",
                                                "required": true,
                                                "validate": {
                                                    "max": 100
                                                }
                                            },
                                            {
                                                "name": "address",
                                                "type": "text",
                                                "label": "Address",
                                                "required": true,
                                                "validate": {
                                                    "max": 100
                                                }
                                            },
                                            {
                                                "name": "latitude",
                                                "type": "number",
                                                "label": "Latitude",
                                                "required": true
                                            },
                                            {
                                                "name": "longitude",
                                                "type": "number",
                                                "label": "Longitude",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Image Map",
                                        "value": "imagemap",
                                        "nested": [
                                            {
                                                "help": "Base URL of the image",
                                                "name": "baseUrl",
                                                "type": "url",
                                                "label": "Base URL of the image",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "name": "altText",
                                                "type": "text",
                                                "label": "Alternative Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 400
                                                }
                                            },
                                            {
                                                "name": "baseSize",
                                                "spec": [
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1040
                                                        }
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1040
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Base Image Size"
                                            },
                                            {
                                                "name": "actions",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "uri",
                                                                "nested": [
                                                                    {
                                                                        "name": "linkUri",
                                                                        "type": "url",
                                                                        "label": "Link URL",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Message",
                                                                "value": "message",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 400
                                                                        }
                                                                    }
                                                                ],
                                                                "default": true
                                                            }
                                                        ],
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "label",
                                                        "type": "text",
                                                        "label": "Label",
                                                        "validate": {
                                                            "max": 50
                                                        }
                                                    },
                                                    {
                                                        "name": "area",
                                                        "spec": [
                                                            {
                                                                "help": "Horizontal position relative to the left edge of the imagemap area.",
                                                                "name": "x",
                                                                "type": "uinteger",
                                                                "label": "X Axis",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Vertical position relative to the top of the imagemap area.",
                                                                "name": "y",
                                                                "type": "uinteger",
                                                                "label": "Y Axis",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Width of the tappable area",
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Height of the tappable are",
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Area"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Actions",
                                                "required": true,
                                                "validate": {
                                                    "maxItems": 50
                                                }
                                            },
                                            {
                                                "name": "video",
                                                "spec": [
                                                    {
                                                        "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                        "name": "originalContentUrl",
                                                        "type": "url",
                                                        "label": "Original Content URL",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                        "name": "previewImageUrl",
                                                        "type": "url",
                                                        "label": "Preview Image URL",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "name": "area",
                                                        "spec": [
                                                            {
                                                                "help": "Horizontal position of the video area relative to the left edge of the imagemap area.",
                                                                "name": "x",
                                                                "type": "uinteger",
                                                                "label": "X Axis"
                                                            },
                                                            {
                                                                "help": "Vertical position of the video area relative to the top of the imagemap area.",
                                                                "name": "y",
                                                                "type": "uinteger",
                                                                "label": "Y Axis"
                                                            },
                                                            {
                                                                "help": "Width of the video area",
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "help": "Height of the video are",
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Area"
                                                    },
                                                    {
                                                        "name": "externalLink",
                                                        "spec": [
                                                            {
                                                                "name": "linkUri",
                                                                "type": "url",
                                                                "label": "Link URL",
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            },
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label",
                                                                "validate": {
                                                                    "max": 30
                                                                }
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "External Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Video"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Template",
                                        "value": "template",
                                        "nested": [
                                            {
                                                "name": "altText",
                                                "type": "text",
                                                "label": "Alternative Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 400
                                                }
                                            },
                                            {
                                                "name": "template",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "Buttons",
                                                                "value": "buttons",
                                                                "nested": [
                                                                    {
                                                                        "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                        "name": "thumbnailImageUrl",
                                                                        "type": "url",
                                                                        "label": "Thumbnail Image URL",
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "imageAspectRatio",
                                                                        "type": "select",
                                                                        "label": "Image Aspect Ratio",
                                                                        "options": [
                                                                            {
                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                "value": "rectangle",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Square (1 : 1)",
                                                                                "value": "square"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                        "name": "imageSize",
                                                                        "type": "select",
                                                                        "label": "Image Size",
                                                                        "options": [
                                                                            {
                                                                                "label": "Cover",
                                                                                "value": "cover",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Contain",
                                                                                "value": "contain"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "imageBackgroundColor",
                                                                        "type": "color",
                                                                        "label": "Image Background Color",
                                                                        "default": "#FFFFFF"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "validate": {
                                                                            "max": 40
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 160
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "defaultAction",
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Postback",
                                                                                        "value": "postback",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "text",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 300
                                                                                                }
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Message",
                                                                                        "value": "message",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "text",
                                                                                                "label": "URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Default Action"
                                                                    },
                                                                    {
                                                                        "name": "actions",
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Postback",
                                                                                        "value": "postback",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "text",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 300
                                                                                                }
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Message",
                                                                                        "value": "message",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "text",
                                                                                                "label": "URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Actions",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Confirm",
                                                                "value": "confirm",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 240
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "actions",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "type",
                                                                                "type": "hidden",
                                                                                "label": "Type",
                                                                                "default": "message"
                                                                            },
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Actions",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 2
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Carousel",
                                                                "value": "carousel",
                                                                "nested": [
                                                                    {
                                                                        "name": "columns",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                "name": "thumbnailImageUrl",
                                                                                "type": "url",
                                                                                "label": "Thumbnail Image URL",
                                                                                "validate": {
                                                                                    "max": 1000
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "imageBackgroundColor",
                                                                                "type": "color",
                                                                                "label": "Image Background Color",
                                                                                "default": "#FFFFFF"
                                                                            },
                                                                            {
                                                                                "name": "title",
                                                                                "type": "text",
                                                                                "label": "Title",
                                                                                "validate": {
                                                                                    "max": 40
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 120
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "defaultAction",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Default Action"
                                                                            },
                                                                            {
                                                                                "name": "actions",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "array",
                                                                                "label": "Actions",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "maxItems": 3
                                                                                }
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Columns",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 10
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "imageAspectRatio",
                                                                        "type": "select",
                                                                        "label": "Image Aspect Ratio",
                                                                        "options": [
                                                                            {
                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                "value": "rectangle",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Square (1 : 1)",
                                                                                "value": "square"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                        "name": "imageSize",
                                                                        "type": "select",
                                                                        "label": "Image Size",
                                                                        "options": [
                                                                            {
                                                                                "label": "Cover",
                                                                                "value": "cover",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Contain",
                                                                                "value": "contain"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image Carousel",
                                                                "value": "image_carousel",
                                                                "nested": [
                                                                    {
                                                                        "name": "columns",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                "name": "imageUrl",
                                                                                "type": "text",
                                                                                "label": "Image URL",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "action",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Action"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Columns",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 10
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Template"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "notificationDisabled",
                        "type": "boolean",
                        "label": "Notification Disabled",
                        "required": true
                    },
                    {
                        "name": "replyToken",
                        "type": "text",
                        "label": "Reply Token",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "validate": {
                            "maxItems": 5
                        },
                        "required": true,
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "help": "For LINE emoji, use a `$` character as a placeholder and specify details in the LINE Emojis parameter.",
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 5000
                                                }
                                            },
                                            {
                                                "help": "The number of emoji items must be equal to the number of `$` on Text parameter.",
                                                "name": "emojis",
                                                "spec": [
                                                    {
                                                        "help": "Product ID for a set of LINE emoji. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                        "name": "productId",
                                                        "type": "text",
                                                        "label": "Product ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "ID for a LINE emoji inside a set. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                        "name": "emojiId",
                                                        "type": "text",
                                                        "label": "Emoji ID",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "LINE Emojis",
                                                "validate": {
                                                    "maxItems": 20
                                                }
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Sticker",
                                        "value": "sticker",
                                        "nested": [
                                            {
                                                "help": "Package ID for a set of stickers. For information on package IDs, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                "name": "packageId",
                                                "type": "text",
                                                "label": "Package ID",
                                                "required": true
                                            },
                                            {
                                                "help": "Sticker ID. For a list of sticker IDs for stickers that can be sent with the Messaging API, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                "name": "stickerId",
                                                "type": "text",
                                                "label": "Sticker ID",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Image",
                                        "value": "image",
                                        "nested": [
                                            {
                                                "help": "Max file size is 10 MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "help": "Max file size is 1 MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "previewImageUrl",
                                                "type": "url",
                                                "label": "Preview Image URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Video",
                                        "value": "video",
                                        "nested": [
                                            {
                                                "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "previewImageUrl",
                                                "type": "url",
                                                "label": "Preview Image URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Audio",
                                        "value": "audio",
                                        "nested": [
                                            {
                                                "help": "Max file size is 200 MB.\nSupported image format - M4A",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "name": "duration",
                                                "type": "uinteger",
                                                "label": "Duration (in seconds)",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Location",
                                        "value": "location",
                                        "nested": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title",
                                                "required": true,
                                                "validate": {
                                                    "max": 100
                                                }
                                            },
                                            {
                                                "name": "address",
                                                "type": "text",
                                                "label": "Address",
                                                "required": true,
                                                "validate": {
                                                    "max": 100
                                                }
                                            },
                                            {
                                                "name": "latitude",
                                                "type": "number",
                                                "label": "Latitude",
                                                "required": true
                                            },
                                            {
                                                "name": "longitude",
                                                "type": "number",
                                                "label": "Longitude",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Image Map",
                                        "value": "imagemap",
                                        "nested": [
                                            {
                                                "help": "Base URL of the image",
                                                "name": "baseUrl",
                                                "type": "url",
                                                "label": "Base URL of the image",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "name": "altText",
                                                "type": "text",
                                                "label": "Alternative Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 400
                                                }
                                            },
                                            {
                                                "name": "baseSize",
                                                "spec": [
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1040
                                                        }
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1040
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Base Image Size"
                                            },
                                            {
                                                "name": "actions",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "uri",
                                                                "nested": [
                                                                    {
                                                                        "name": "linkUri",
                                                                        "type": "url",
                                                                        "label": "Link URL",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Message",
                                                                "value": "message",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 400
                                                                        }
                                                                    }
                                                                ],
                                                                "default": true
                                                            }
                                                        ],
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "label",
                                                        "type": "text",
                                                        "label": "Label",
                                                        "validate": {
                                                            "max": 50
                                                        }
                                                    },
                                                    {
                                                        "name": "area",
                                                        "spec": [
                                                            {
                                                                "help": "Horizontal position relative to the left edge of the imagemap area.",
                                                                "name": "x",
                                                                "type": "uinteger",
                                                                "label": "X Axis",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Vertical position relative to the top of the imagemap area.",
                                                                "name": "y",
                                                                "type": "uinteger",
                                                                "label": "Y Axis",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Width of the tappable area",
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Height of the tappable are",
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Area"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Actions",
                                                "required": true,
                                                "validate": {
                                                    "maxItems": 50
                                                }
                                            },
                                            {
                                                "name": "video",
                                                "spec": [
                                                    {
                                                        "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                        "name": "originalContentUrl",
                                                        "type": "url",
                                                        "label": "Original Content URL",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                        "name": "previewImageUrl",
                                                        "type": "url",
                                                        "label": "Preview Image URL",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "name": "area",
                                                        "spec": [
                                                            {
                                                                "help": "Horizontal position of the video area relative to the left edge of the imagemap area.",
                                                                "name": "x",
                                                                "type": "uinteger",
                                                                "label": "X Axis"
                                                            },
                                                            {
                                                                "help": "Vertical position of the video area relative to the top of the imagemap area.",
                                                                "name": "y",
                                                                "type": "uinteger",
                                                                "label": "Y Axis"
                                                            },
                                                            {
                                                                "help": "Width of the video area",
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "help": "Height of the video are",
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Area"
                                                    },
                                                    {
                                                        "name": "externalLink",
                                                        "spec": [
                                                            {
                                                                "name": "linkUri",
                                                                "type": "url",
                                                                "label": "Link URL",
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            },
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label",
                                                                "validate": {
                                                                    "max": 30
                                                                }
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "External Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Video"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Template",
                                        "value": "template",
                                        "nested": [
                                            {
                                                "name": "altText",
                                                "type": "text",
                                                "label": "Alternative Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 400
                                                }
                                            },
                                            {
                                                "name": "template",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "Buttons",
                                                                "value": "buttons",
                                                                "nested": [
                                                                    {
                                                                        "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                        "name": "thumbnailImageUrl",
                                                                        "type": "url",
                                                                        "label": "Thumbnail Image URL",
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "imageAspectRatio",
                                                                        "type": "select",
                                                                        "label": "Image Aspect Ratio",
                                                                        "options": [
                                                                            {
                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                "value": "rectangle",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Square (1 : 1)",
                                                                                "value": "square"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                        "name": "imageSize",
                                                                        "type": "select",
                                                                        "label": "Image Size",
                                                                        "options": [
                                                                            {
                                                                                "label": "Cover",
                                                                                "value": "cover",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Contain",
                                                                                "value": "contain"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "imageBackgroundColor",
                                                                        "type": "color",
                                                                        "label": "Image Background Color",
                                                                        "default": "#FFFFFF"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "validate": {
                                                                            "max": 40
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 160
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "defaultAction",
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Postback",
                                                                                        "value": "postback",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "text",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 300
                                                                                                }
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Message",
                                                                                        "value": "message",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "text",
                                                                                                "label": "URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Default Action"
                                                                    },
                                                                    {
                                                                        "name": "actions",
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Postback",
                                                                                        "value": "postback",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "text",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 300
                                                                                                }
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Message",
                                                                                        "value": "message",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "text",
                                                                                                "label": "URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Actions",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Confirm",
                                                                "value": "confirm",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 240
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "actions",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "type",
                                                                                "type": "hidden",
                                                                                "label": "Type",
                                                                                "default": "message"
                                                                            },
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Actions",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 2
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Carousel",
                                                                "value": "carousel",
                                                                "nested": [
                                                                    {
                                                                        "name": "columns",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                "name": "thumbnailImageUrl",
                                                                                "type": "url",
                                                                                "label": "Thumbnail Image URL",
                                                                                "validate": {
                                                                                    "max": 1000
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "imageBackgroundColor",
                                                                                "type": "color",
                                                                                "label": "Image Background Color",
                                                                                "default": "#FFFFFF"
                                                                            },
                                                                            {
                                                                                "name": "title",
                                                                                "type": "text",
                                                                                "label": "Title",
                                                                                "validate": {
                                                                                    "max": 40
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 120
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "defaultAction",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Default Action"
                                                                            },
                                                                            {
                                                                                "name": "actions",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "array",
                                                                                "label": "Actions",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "maxItems": 3
                                                                                }
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Columns",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 10
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "imageAspectRatio",
                                                                        "type": "select",
                                                                        "label": "Image Aspect Ratio",
                                                                        "options": [
                                                                            {
                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                "value": "rectangle",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Square (1 : 1)",
                                                                                "value": "square"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                        "name": "imageSize",
                                                                        "type": "select",
                                                                        "label": "Image Size",
                                                                        "options": [
                                                                            {
                                                                                "label": "Cover",
                                                                                "value": "cover",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Contain",
                                                                                "value": "contain"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image Carousel",
                                                                "value": "image_carousel",
                                                                "nested": [
                                                                    {
                                                                        "name": "columns",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                "name": "imageUrl",
                                                                                "type": "text",
                                                                                "label": "Image URL",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "action",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Action"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Columns",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 10
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Template"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "notificationDisabled",
                        "type": "boolean",
                        "label": "Notification Disabled",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}